.header {
  /* border: 1px solid red; */

  width: 100%;
  height: 4rem;

  font-size: 1.3em;

  position: fixed;
  top: 0;
  left: 0;
}

.header h1 {
  height: 100%;
  padding-top: 0.5rem;
}

.startTitle {
  margin-bottom: 1em;
}

.selectInput {
  display: block;
  width: 100%;
  height: 2.3em;
  text-align: center;
}

.buttonSubmit {
  display: block;
  width: 100%;
  height: 2em;
  margin-top: 0.2em;
}